
h1, h2, h3, h4, h5, h6{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: indianred;
    background-color: rgb(63, 64, 66);
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: indianred;
  } 
a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: indianred;
    text-decoration: none;
} 
body{
    background-color: ivory;
}
table, th, td {
    border: 1px solid black;
  }
#salesheader{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

}